@use './mixins';

.button {
  @include mixins.button-base;
}

.button-primary {
  @include mixins.button-primary;
}

.button-secondary {
  @include mixins.button-secondary;
}

.button-danger {
  @include mixins.button-danger;
}
