@use './mixins';

.form-group {
  @include mixins.form-group;

  input,
  textarea {
    @include mixins.form-input;
  }
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-sm);
}


