.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-routes {
  display: flex;
  gap: 0.5rem;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-username {
  font-weight: 500;
}

.navbar-button-logout {
  background-color: #dc3545;
  color: white;

  &:hover {
    background-color: #c82333;
  }
}
