@use './mixins';

.panel {
  @include mixins.panel;
}

.panel-header {
  @include mixins.panel-header;
}

.panel-body {
  @include mixins.panel-body;
}

.panel-footer {
  @include mixins.panel-footer;
}

.card {
  @include mixins.card;
}

